services:
  web:
    image: ghcr.io/lausequites/php-container/php8.5:latest
    platform: linux/arm64
    healthcheck:
      disable: true
    volumes:
      - .:/var/www/app
      - ./example:/var/www/app/public
      - ./example/.docker/php.dev.ini:/usr/local/etc/php/conf.d/zzz_custom.ini
    environment:
      - "APP_ENV=develop"
      - "PROJECT_NAME=core"
      - "OTEL_SERVICE_NAME=core"
      - "OTEL_EXPORTER_OTLP_ENDPOINT=http://otel:4318"
      - "OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf"
      - "OTEL_EXPORTER_OTLP_TIMEOUT=1500"
      - "OTEL_LOG_LEVEL=debug"
      - "XDEBUG_MODE=develop,coverage"
      - "XDEBUG_DISCOVER_INCLUDE_FILES=1"
      - "XDEBUG_LOG=/dev/stdout"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.core.rule=Host(`core.localhost`)"
      - "traefik.http.routers.core.entrypoints=web"
    networks:
      - web

networks:
  web:
    name: web
    external: true